<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanzhi.tourism.dao.admin.AdminMapper">
    <!--    public Employee getEmpById(Integer id);

     public void insertEmp(Employee employee);-->
    <select id="getAdminByExam" resultType="com.yuanzhi.tourism.entity.Admin">
        SELECT * FROM admin WHERE adminAccount=#{adminAccount} AND adminPassword=#{adminPassword}
    </select>
</mapper>