<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanzhi.tourism.dao.SceneMapper">
  <resultMap id="BaseResultMap" type="com.yuanzhi.tourism.entity.Scene">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sceneName" jdbcType="VARCHAR" property="scenename" />
    <result column="cityName" jdbcType="VARCHAR" property="cityname" />
    <result column="areaName" jdbcType="VARCHAR" property="areaname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="scenePrice" jdbcType="INTEGER" property="sceneprice" />
    <result column="provinceName" jdbcType="VARCHAR" property="provincename" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sceneName, cityName, areaName, address, scenePrice, provinceName, summary
  </sql>
  <select id="selectByExample" parameterType="com.yuanzhi.tourism.entity.SceneExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scene
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scene
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuanzhi.tourism.entity.SceneExample">
    delete from scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuanzhi.tourism.entity.Scene">
    insert into scene (id, sceneName, cityName, 
      areaName, address, scenePrice, 
      provinceName, summary)
    values (#{id,jdbcType=INTEGER}, #{scenename,jdbcType=VARCHAR}, #{cityname,jdbcType=VARCHAR}, 
      #{areaname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{sceneprice,jdbcType=INTEGER}, 
      #{provincename,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuanzhi.tourism.entity.Scene">
    insert into scene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scenename != null">
        sceneName,
      </if>
      <if test="cityname != null">
        cityName,
      </if>
      <if test="areaname != null">
        areaName,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="sceneprice != null">
        scenePrice,
      </if>
      <if test="provincename != null">
        provinceName,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scenename != null">
        #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null">
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sceneprice != null">
        #{sceneprice,jdbcType=INTEGER},
      </if>
      <if test="provincename != null">
        #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuanzhi.tourism.entity.SceneExample" resultType="java.lang.Long">
    select count(*) from scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scene
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.scenename != null">
        sceneName = #{record.scenename,jdbcType=VARCHAR},
      </if>
      <if test="record.cityname != null">
        cityName = #{record.cityname,jdbcType=VARCHAR},
      </if>
      <if test="record.areaname != null">
        areaName = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.sceneprice != null">
        scenePrice = #{record.sceneprice,jdbcType=INTEGER},
      </if>
      <if test="record.provincename != null">
        provinceName = #{record.provincename,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scene
    set id = #{record.id,jdbcType=INTEGER},
      sceneName = #{record.scenename,jdbcType=VARCHAR},
      cityName = #{record.cityname,jdbcType=VARCHAR},
      areaName = #{record.areaname,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      scenePrice = #{record.sceneprice,jdbcType=INTEGER},
      provinceName = #{record.provincename,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuanzhi.tourism.entity.Scene">
    update scene
    <set>
      <if test="scenename != null">
        sceneName = #{scenename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null">
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        areaName = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sceneprice != null">
        scenePrice = #{sceneprice,jdbcType=INTEGER},
      </if>
      <if test="provincename != null">
        provinceName = #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuanzhi.tourism.entity.Scene">
    update scene
    set sceneName = #{scenename,jdbcType=VARCHAR},
      cityName = #{cityname,jdbcType=VARCHAR},
      areaName = #{areaname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      scenePrice = #{sceneprice,jdbcType=INTEGER},
      provinceName = #{provincename,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>