<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <title>Title</title>
</head>
<body>
${id}
<div id="msg"></div>


<script>
    var id = '${id}';
    var sock = new SockJS('http://localhost:8088/rwx/socket');
    console.log(sock);
    var stompClient = Stomp.over(sock);
    stompClient.connect({},function (data) {
        console.log(data);
        stompClient.subscribe("/user/"+id+"/sendMessageByServer",function (response) {
            console.log(response.body);
            $("#msg").html(response.body+"<br/>");
        })
    })
</script>
</body>
</html>