<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/iconImg.jpg" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/layui2.css">
    <link rel="stylesheet" href="css/background.css">
    <link rel="stylesheet" href="css/freeTour.css">

    <script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="public/layui.js"></script>
    <script src="js/freeTour.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.0.min.js"></script>
    <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js?_=1557308476616"></script>
    <script type="text/javascript">
        L2Dwidget.init();</script>
    <script type="text/javascript">getFollowStatus('df91d846-448f-4c9a-c764-08d6b94b3063')</script>

    <title>任我行自由行@任我行，旅游攻略</title>
</head>
<body>
<!--头部导航-->
    <div class="freeTour_head">
        <div th:replace="user/common/header::header"></div>
    </div>
<!--自由行主要内容区-->
    <div class="freeTour_content">
        <!--自由行、当地游等方式的导航-->
        <span class="layui-breadcrumb" lay-separator="|">
            <a style="color:#ff9d00" th:href="@{/freeTour}">自由行</a>
            <a href="" th:href="@{/groupTour}">跟团游</a>
            <a href="" th:href="@{/localTour}">当地游</a>
        </span>
        <!--搜索-->
        <div class="freeTour_search">
            <div class="freeTour_search_left">
                <img src="images/icon/freeTour.png"><span>自由行</span>
            </div>
            <div class="freeTour_search_right">
                <button type="button" class="layui-btn layui-btn-primary">
                    <strong>成都</strong>&ensp;出发
                </button>
                <img src="images/icon/arrowhead2.png">
                <input type="text" required  lay-verify="required" placeholder="请输入目的地..." autocomplete="off"
                       class="layui-input" style="display: inline-block;width: 50%;">
                <button type="button" class="layui-btn layui-btn-warm" style="margin-left: -3px;margin-top: -2px;">
                    <i class="layui-icon">&#xe615;</i>
                </button>
            </div>
        </div>
        <!--榜单-->
        <div class="freeTour_rankList">
            <div style="margin-bottom: 30px;float: left;">
                <div class="freeTour_rankList_title">
                    <a href="#"><h2 class="freeTour_rankList_hot">本周热销榜</h2></a>
                    <h2 class="freeTour_rankList_hot"><span>大家都在买</span></h2>
                    <a href="#" class="change">换一换</a>
                </div>
                <ul class="sales-cards clearfix">
                    <li class="item">
                        <a href="#" th:href="@{/routeDetail}">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 30px;float: left;">
                <div class="freeTour_rankList_title">
                    <a href="#"><h2 class="freeTour_rankList_hot">休假去哪儿</h2></a>
                    <a href="#" class="change">换一换</a>
                </div>
                <ul class="sales-cards clearfix">
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 30px;float: left;">
                <div class="freeTour_rankList_title">
                    <a href="#"><h2 class="freeTour_rankList_hot">和你去看海</h2></a>
                    <a href="#" class="change">换一换</a>
                </div>
                <ul class="sales-cards clearfix">
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-bottom: 30px;float: left;">
                <div class="freeTour_rankList_title">
                    <a href="#"><h2 class="freeTour_rankList_hot">热门酒店推荐</h2></a>
                    <a href="#" class="change">换一换</a>
                </div>
                <ul class="sales-cards clearfix">
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#">
                            <div class="image">
                                <img src="images/scene/scene16.jpeg">
                            </div>
                            <div class="caption">
                                <h3>北京直飞厦门5天自由行+鼓浪屿1晚磐诺花园酒店+市区喜来登+铂尔曼+海港英迪格等多豪华海景酒店任选
                                    （赠专车接送机+鼓浪屿往返渡轮+帆船出海体验）</h3>
                                <span class="price"><b>￥<span>2490</span></b>起</span>
                                <sapn style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:<span>GO爱旅行</span></sapn>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
<!--页脚区域-->
    <div th:replace="user/common/footer::foot"></div>
    <div id="live2d-widget">
        <canvas id="live2dcanvas" width="300" height="600" style="position: fixed;opacity: 0.7;right: 0px;bottom: -20px;z-index: 99999;pointer-events: none;border: 1px dashed rgb(204, 204, 204);">
        </canvas>
    </div>
</body>
</html>