<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/iconImg.jpg" th:href="@{/images/iconImg.jpg}" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/layui1.css" th:href="@{/public/css/layui1.css}">
    <link rel="stylesheet" href="css/background.css" th:href="@{/css/background.css}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link href="css/player.css" th:href="@{/asserts/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="css/player.css" th:href="@{/css/player.css}" rel="stylesheet" type="text/css" />

    <script src="public/js/jquery-3.2.1.min.js"></script>
    <script src="http://libs.baidu.com/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="public/layui.js" th:src="@{/public/layui.js}"></script>
    <!-- <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.js"></script> -->
    <script src="js/background.js" th:src="@{/js/background.js}"></script>
    <title>首页@任我行,旅游攻略</title>
</head>

<body>
    <div class="main_box">
        <!--头部导航-->
        <div class="head">
            <div th:replace="user/common/header::#headerLikeIndex"></div>
        </div>
        <div class="video_box" id="video">
            <video src="images/3.mp4" th:autoplay="true" th:src="@{/images/3.mp4}" autoplay muted loop></video>
        </div>
        <!-- <div class="slide" id="slide">
            <img id="left-slide" src="./images/leftNavOFF.png">
            <img id="right-slide" src="./images/rightNavOFF.png">
        </div> -->
        <div class="introduce_box">
            <p><span style="font-size: 48px;" id="day"></span>/<span id="time"></span></p>
            <p th:text="捷克--金色的布拉格"></p>
        </div>
        <div class="content_box">
            <p>@任我行,任你驰行...</p>
        </div>
        <!--主要内容区域-->
        <div class="home-content">
            <!--旅行相册分区-->
            <div class="tourpic">
                <h1 class="tour_album">旅行相册&ensp;<i class="layui layui-icon layui-icon-next next"></i> <span
                        class="find"><a href="findWorld.html" th:href="@{/albumworld}" target="_blank">发现世界</a></span>&emsp;<span
                        class="upload"><a th:href="@{/albumUpload}">上传照片,开始你的旅程分享吧</a></span>
                </h1>
                <ul class="album_ul">
                    <script id="albumDemo" type="text/html">
                        {{#  layui.each(d.list.albumList, function(index, item){ }}
                            <li class="album_li">
                                <div class="albumShare">
                                    <a href="javascript:" data-id="{{item.albumid}}" onclick="toAlbumDetail(this)">
                                        <img src="{{item.pictureUrl}}" class="sharePic">
                                    </a>
                                    <ul>
                                        <li><a href="#"><img src="{{item.imgurl}}"></a></li>
                                        &emsp;<li class="textInfo">
                                            <a href="#">
                                                <p class="album_share_info">{{item.albumtitle}}</p>
                                            </a>
                                            <i class="layui-icon layui-icon-picture-fine"></i>
                                            <span class="num">{{item.pictureNum}}</span>
                                            &ensp;<span class="num">{{item.publishtime}}</span>
                                            &ensp;<span class="num">{{item.viewtimes}}浏览</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {{#  }); }}
                    </script>
                    <div id="albumView"></div>
                </ul>
                <hr class="layui-bg-green" style="width: 1020px;margin:0 auto;margin-top:30px;">
            </div>
            <!--旅行游记分区-->
            <input type="hidden" name="id" id="uid" th:if="${session.loginUser!=null}" th:value="${session.loginUser.getUid()}"/>
            <div class="journey">
                <h1 class="tour_journey">旅行游记&ensp;<i class="layui layui-icon layui-icon-next next"></i> <span
                        class="more"><a href="#">更多</a></span>&emsp;<a class="core" href="#">精华游记</a>&ensp;<span
                        style="font-size: 18px;">|</span>&ensp;<a class="essential" href="#">潜力精华</a></h1>
                <ul class="jour_ul">
                    <li class="jour_li" style="float: left;width: 700px;">
                        <script id="indexJourney" type="text/html">
                            <ul class="jour_ul" th:each="journey:${journeyWithUser.data}" style="margin-bottom: 22px;">
                                <li class="jour_li" style="position: relative;top:-67px;">
                                <li class="jour_li" style="float: left;">
                                    <a data-id="${journey.tid}" onclick="addHistory(this) " th:href="@{/journey/}+${journey.tid}">
                                        <img src="images/u=2686431418,4247994209&fm=26&gp=0.jpg" class="jour_img" th:src="${journey.mainimg}">
                                    </a>
                                </li>
                                <!--图片右边总的区块-->
                                <li class="jour_li" style="margin-bottom: 22px;">
                                    <ul>
                                        <li style="margin-top: -6px;">
                                            <!--包含图片的游记标题和作者的上层区域-->
                                            <ul class="jour_ul">
                                                <!--游记作者图片-->
                                                <li class="jour_li author_li"><a href="#"><img class="jour_author_img"
                                                                                               src="images/slide_05.jpg" th:src="${journey.user.imgurl}"></a></li>
                                                <!--右边不含图片的游记标题和作者-->
                                                <li class="jour_li jour_introduce">
                                                    <a href="#">
                                                        <p style="color: blue;font-size:90%;" th:text="${journey.jourtitle}"></p>
                                                    </a>
                                                    <span class="author">作者：<a href="#" th:text="${journey.user.username}"></a>
                                                    &emsp;&emsp;&emsp;<span th:text="${journey.publishtime}"></span>&emsp;&emsp;
                                                    <a href="#"><i class="layui-icon layui-icon-reply-fill"
                                                                   style="font-size: 10px;">&ensp;235</i></a>&emsp;&emsp;
                                                    <a href="#"><i class="layui-icon layui-icon-star-fill"
                                                                   style="font-size: 10px;">&ensp;1104</i></a>
                                                </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="indexJourneyContent" th:utext="${journey.jourcontent}"></li>
                                    </ul>
                                </li>
                                <hr class="layui-bg-green">
                            </ul>
                            <div class="pagination">
                                <ul class="jour_ul">
                                    <li class="jour_li" th:if="${journeyWithUser.current_page != 1}">
                                        <a th:href="@{/(page=1)}" aria-label="Previous">
                                            <span aria-hidden="true">首页</span>
                                        </a>
                                    </li>
                                    <li class="jour_li" th:if="${journeyWithUser.current_page != 1}">
                                        <a th:href="@{/(page=${journeyWithUser.current_page - 1})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>

                                    <li th:each="page : ${journeyWithUser.pages}" th:class="${journeyWithUser.current_page == page}? 'jour_li active' : 'jour_li'">
                                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                                    </li>

                                    <li class="jour_li" th:if="${journeyWithUser.current_page != journeyWithUser.total_page}">
                                        <a th:href="@{/(page=${journeyWithUser.current_page +1 })}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                    <li class="jour_li" th:if="${journeyWithUser.current_page != journeyWithUser.total_page}">
                                        <a th:href="@{/(page=${journeyWithUser.total_page})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">尾页</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </script>
                        <div id="indexJourneyView"></div>
                        <ul class="jour_ul" th:each="journey:${journeyWithUser.data}" style="margin-bottom: 22px;">
                            <!--<li class="jour_li" style="position: relative;top:-67px;">-->
                            <li class="jour_li" style="float: left;">
                                <a href="#" th:href="@{/journey/}+${journey.tid}"><img src="images/u=2686431418,4247994209&fm=26&gp=0.jpg"
                                                                                       class="jour_img" th:src="${journey.mainimg}"></a>
                            </li>
                            <!--图片右边总的区块-->
                            <li class="jour_li" style="margin-bottom: 22px;">
                                <ul>
                                    <li style="margin-top: -6px;">
                                        <!--包含图片的游记标题和作者的上层区域-->
                                        <ul class="jour_ul">
                                            <!--游记作者图片-->
                                            <li class="jour_li author_li"><a href="#"><img class="jour_author_img"
                                                                                           src="images/slide_05.jpg" th:src="${journey.user.imgurl}"></a></li>
                                            <!--右边不含图片的游记标题和作者-->
                                            <li class="jour_li jour_introduce">
                                                <a href="#">
                                                    <p style="color: blue;font-size:90%;" th:text="${journey.jourtitle}"></p>
                                                </a>
                                                <span class="author">作者：<a href="#" th:text="${journey.user.username}"></a>
                                                    &emsp;&emsp;&emsp;<span th:text="${journey.publishtime}"></span>&emsp;&emsp;
                                                    <a href="#"><i class="layui-icon layui-icon-reply-fill"
                                                                   style="font-size: 10px;">&ensp;[[${journey.commentcount}]]</i></a>&emsp;&emsp;
                                                    <a href="#"><i class="layui-icon layui-icon-star-fill"
                                                                   style="font-size: 10px;">&ensp;[[${journey.praisetimes}]]</i></a>
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="indexJourneyContent" th:utext="${journey.jourcontent}"></li>
                                </ul>
                            </li>
                            <!--<hr class="layui-bg-green" style="margin-bottom:25px;margin-top: -40px;">-->
                            <hr class="layui-bg-green">
                        </ul>
                        <div class="pagination">
                            <ul class="jour_ul">
                                <li class="jour_li" th:if="${journeyWithUser.current_page != 1}">
                                    <a th:href="@{/(page=1)}" aria-label="Previous">
                                        <span aria-hidden="true">首页</span>
                                    </a>
                                </li>
                                <li class="jour_li" th:if="${journeyWithUser.current_page != 1}">
                                    <a th:href="@{/(page=${journeyWithUser.current_page - 1})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>

                                <li th:each="page : ${journeyWithUser.pages}" th:class="${journeyWithUser.current_page == page}? 'jour_li active' : 'jour_li'">
                                    <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                                </li>

                                <li class="jour_li" th:if="${journeyWithUser.current_page != journeyWithUser.total_page}">
                                    <a th:href="@{/(page=${journeyWithUser.current_page +1 })}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                                <li class="jour_li" th:if="${journeyWithUser.current_page != journeyWithUser.total_page}">
                                    <a th:href="@{/(page=${journeyWithUser.total_page})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">尾页</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="jour_li" style="margin-left: 40px;float: right;margin-top: -63px;">
                        <ul>
                            <li>
                                <div class="activity">
                                    <h1>最新活动</h1>
                                    <a href="javascrip:void(0)"
                                        onclick="window.open('images/activity/self.jpg','','height=329, width=400, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')"
                                        target="_self">
                                        <img src="images/slide_05.jpg" style="margin-bottom: 7px;"></a>
                                    <a href="#">
                                        <h3 style="color: rgb(240, 142, 77)">寻找旅行CP,赢取布拉格CP之旅</h3>
                                    </a>
                                    <h3>向世界说Hello World！</h3>
                                    <hr class="layui-bg-cyan" style="margin-bottom:10px;margin-top: 20px;">
                                </div>
                            </li>
                            <li>
                                <div class="activity" style="width: 280px;">
                                    <h1>人气驴友推荐</h1>
                                    <!-- <img src="images/u=3740020944,2982415550&fm=26&gp=0.jpg"> -->
                                    <ul class="jour_ul">
                                        <script id="userDemo" type="text/html">
                                            {{#  layui.each(d.list.userList, function(index, item){ }}
                                            <li class="jour_li" style="margin-bottom: 35px;">
                                                <div class="advice_author">
                                                    <a href="javascript:" data-id="{{item.uid}}" onclick="toOthers(this)"><img src="{{item.imgurl}}"></a>
                                                    <p>{{item.username}}</p>
                                                </div>
                                            </li>
                                            {{#  }); }}
                                        </script>
                                        <div id="userView"></div>
                                    </ul>
                                    <hr class="layui-bg-cyan" style="margin-bottom:10px;margin-top: 20px;">
                                </div>
                            </li>
                            <li>
                                <div class="activity" style="width: 280px;">
                                    <h1>旅游攻略推荐</h1>
                                    <div class="layui-carousel" id="similarStrategyLunBo" style="margin: 20px auto;">
                                        <div carousel-item>
                                            <script id="SimilarStrategyDemo" type="text/html">
                                                {{#  layui.each(d.list.strategyList, function(index, item){ }}
                                                <div class="indexToStrategy" data-id="{{item.strategyId}}" onclick="toStrategyDetail(this)">
                                                    <img src="{{item.firstImg}}" style="margin-bottom: 7px;"></a>
                                                    <h3 style="color:rgb(209, 63, 209);width: 280px;height: 30px;overflow: hidden;text-overflow: ellipsis;">
                                                        {{item.strategyTitle}}
                                                    </h3>
                                                    <h4 style="width: 280px;">{{item.strategyIntro}}</h4>
                                                </div>
                                                {{#  }); }}
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--旅行景点推荐-->
            <div class="scenic">
                <h1 style="margin-left: -15px;">旅行景点&ensp;<i class="layui layui-icon layui-icon-next next"></i>
                    <span class="hope"><a th:href="@{/scene}">&ensp;心驰神往</a></span>&emsp;
                    <a class="core" href="#">热门景点推荐</a></h1>
                <!--<ul class="jour_ul">
                    <li class="jour_li">
                        <div class="shuli">
                            <p>【<b>成都&emsp;锦里</b>】</p>
                            <sapn style="font-family: '幼圆';">锦里，又名锦里一条街，或锦里古街，是中国四川省成都市的一条古商业街，位于成都武侯祠大街中段。
                                锦里北邻锦江，东望彩虹桥，与三国圣地成都武侯祠博物馆文物区东侧一墙之隔。
                                传说中锦里曾是西蜀历史上最古老、最具有商业气息的街道之一，早在秦汉、三国时期便闻名全国。</sapn>
                        </div>
                    </li>
                    <li class="jour_li"><a href="#"><img src="images/slide_02.jpg" class="scen_img"></a></li>
                </ul>
                <ul class="jour_ul scen_other_img">
                    <li class="jour_li"><a href="#"><img src="images/slide_03.jpg" class="scen_img"></a></li>
                    <li class="jour_li"><a href="#"><img src="images/slide_04.jpg" class="scen_img"></a></li>
                    <li class="jour_li"><a href="#"><img src="images/slide_01.jpg" class="scen_img"></a></li>
                </ul>-->
                <script id="sceneDemo" type="text/html">
                    {{#  layui.each(d.list.data, function(index, item){ }}
                    <ul class="jour_ul" style="width: 1020px" data-id="{{item.sceneId}}" onclick="toScene(this)">
                        <li class="jour_li">
                            <div class="shuli">
                                <p>【<b>{{item.sceneCityName}}&emsp;{{item.sceneName}}</b>】</p>
                                <sapn style="font-family: '幼圆';">{{item.sceneSummary}}</sapn>
                            </div>
                        </li>
                        <li class="jour_li" style="float: right"><a href="#">
                            <img src="{{item.scenePics[0]}}" class="scen_img" style="margin-top: 27px;"></a>
                        </li>
                    </ul>
                    <ul class="jour_ul scen_other_img" data-id="{{item.sceneId}}" onclick="toScene(this)">
                        <li class="jour_li"><a href="#"><img src="{{item.scenePics[1]}}" class="scen_img"></a></li>
                        <li class="jour_li"><a href="#"><img src="{{item.scenePics[2]}}" class="scen_img"></a></li>
                        <li class="jour_li"><a href="#"><img src="{{item.scenePics[3]}}" class="scen_img"></a></li>
                    </ul>
                    {{#  }); }}
                    {{#  if(d.list.length === 0){ }}
                    暂时还没有留言哦~
                    {{#  } }}
                </script>
                <div id="sceneView"></div>
            </div>
        </div>
        <!--页脚区域-->
        <div th:replace="user/common/footer::foot"></div>
        <!-- 左侧播放器 开始-->
        <div th:replace="user/common/player::player"></div>
        <!-- 左侧播放器 结束-->
    </div>
</body>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!--播放器js-->
<script src="js/player.js" th:href="@{/js/player.js}"></script>
<script src="js/playlist.js" th:href="@{/js/playlist.js}"></script>
<script src="js/player_database.js" th:href="@{/js/player_database.js}"></script>
<!--播放器js-->

</html>