<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/iconImg.jpg" th:href="@{/images/iconImg.jpg}" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/layui1.css" th:href="@{/public/css/layui1.css}">
    <link rel="stylesheet" href="css/background.css" th:href="@{/css/background.css}">
    <link rel="stylesheet" href="css/strategyDetail.css" th:href="@{/css/strategyDetail.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="public/layui.js" th:src="@{/public/layui.js}"></script>
    <script src="js/strategy.js" th:src="@{/js/strategyDetail.js}"></script>
    <title>薄荷岛潜水|薄荷岛我的潜水考证之旅，新人必读攻略@任我行</title>
</head>
<body>
<!--头部导航-->
    <div class="head">
        <div th:replace="user/common/header::#headerLikeIndex"></div>
    </div>
<!--主要内容区-->
    <div class="strategyDetai_content">
        <ul class="jour_ul" style="width: 1020px;display: block;margin: 0 auto;">
            <!--左侧攻略内容区-->
            <li class="jour_li">
                <div class="strategyDetai_content_left">
                    <p class="strategyDetai_content_left_title">薄荷岛潜水|薄荷岛我的潜水考证之旅，新人必读攻略</p>
                    <p style="text-align: right;padding-right:40px;line-height: 50px;">2019-10-08</p>
                    <ul class="jour_ul" style="margin-bottom: 20px;">
                        <li class="jour_li" style="float: left">
                            <img src="images/scene/scene14.jpeg" class="strategyDetail_author_img">
                        </li>
                        <li class="jour_li" style="padding: 0 10px">
                            <p class="strategyDetail_author">站远处看从前</p>
                            <div style="width: 520px;">呼伦贝尔，这是个令人魂牵梦萦的名字，这里一半是草原，一半是森林。轻轻的草原上有着矿业的牧人纵马飞奔，悠长的牧歌在用灵魂吟</div>
                        </li>
                        <li class="jour_li" style="float: right;padding-top: 10px;">
                            <img src="images/icon/selfRoom.png" class="hisRoom">
                            <p style="line-height: 30px;">TA的空间</p>
                        </li>
                    </ul>
                    <p style="line-height: 25px;">都说玉龙雪山是去丽江不能错过的风景，但是在网上查了很久，很多人还是对玉龙雪山到底应该怎么去怎么玩怎么买票一头雾水。别方，看完这篇攻略，你的所有疑惑都能得到解答。</p>
                    <p style="line-height: 60px;font-size: 28px">秋季去哪里</p>
                    <img class="strategyDetail__main_img" src="images/scene/scene15.jpeg">
                    <p style="line-height: 25px;">都说玉龙雪山是去丽江不能错过的风景，但是在网上查了很久，很多人还是对玉龙雪山到底应该怎么去怎么玩怎么买票一头雾水。别方，看完这篇攻略，你的所有疑惑都能得到解答。</p>
                    <img class="strategyDetail__main_img" src="images/scene/scene16.jpeg">
                    <p style="line-height: 25px;">都说玉龙雪山是去丽江不能错过的风景，但是在网上查了很久，很多人还是对玉龙雪山到底应该怎么去怎么玩怎么买票一头雾水。别方，看完这篇攻略，你的所有疑惑都能得到解答。</p>
                    <img class="strategyDetail__main_img" src="images/scene/scene14.jpeg">
                    <p style="line-height: 25px;">都说玉龙雪山是去丽江不能错过的风景，但是在网上查了很久，很多人还是对玉龙雪山到底应该怎么去怎么玩怎么买票一头雾水。别方，看完这篇攻略，你的所有疑惑都能得到解答。</p>
                    <img class="strategyDetail__main_img" src="images/scene/scene11.jpeg">
                </div>
            </li>
            <!--右侧该篇攻略目录-->
            <li class="jour_li strategyDetail_right">
                <!--右侧目录-->
                <div class="strategyDetail_catalogue">
                    <!--操作控件-->
                    <ul class="jour_ul strategyDetail_contro">
                        <li class="jour_li">
                            <a href="#"><img th:src="@{/images/icon/edit1.png}"></a>
                        </li>
                        <li class="jour_li">
                            <a href="#"><img th:src="@{/images/icon/collect1.png}"></a>
                        </li>
                        <li class="jour_li">
                            <a href="#"><img th:src="@{/images/icon/share1.png}"></a>
                        </li>
                        <li class="jour_li">
                            <a href="#"><img th:src="@{/images/icon/praise1.png}"></a>
                        </li>
                    </ul>
                    <ul>
                        <p style="font-size: 22px;">攻略目录</p>
                        <li><a href="#">默认段落</a></li>
                        <li><a href="#">拍照圣地，斯里兰卡的春天</a></li>
                        <li><a href="#">历史名街，法租界武康路的今日</a></li>
                        <li><a href="#">主题乐园，只有迪士尼守住你的童年</a></li>
                        <li><a href="#">来一段与她的邂逅</a></li>
                        <li><a href="#">历史名街，法租界武康路的今日</a></li>
                        <li><a href="#">岁月从不败美人</a></li>
                        <li><a href="#">主题乐园，只有迪士尼守住你的童年</a></li>
                        <li><a href="#">岁月从不败美人</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
<!--页脚区域-->
    <div th:replace="user/common/footer::foot"></div>
</body>
</html>