<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/iconImg.jpg" th:href="@{/images/iconImg.jpg}" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/layui1.css" th:href="@{/public/css/layui1.css}">
    <link rel="stylesheet" href="css/background.css" th:href="@{/css/background.css}">
    <link rel="stylesheet" href="css/journeyPublish.css" th:href="@{/css/journeyPublish.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://www.jq22.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://libs.baidu.com/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="public/layui.js" th:src="@{/public/layui.js}"></script>
    <script src="js/journeyPublish.js" th:src="@{/js/strategyPublish.js}"></script>
    <title>添加文字-写攻略@任我行，旅游攻略</title>
</head>
<body>
<!--头部导航-->
<div class="jourPub_head">
    <div th:replace="user/common/header::#headerLikeIndex"></div>
</div>
<!--导航下的上传图片的大图以及内区-->
<div class="jourPub_upImg">
    <input type="hidden" name="id" id="uid" th:if="${session.loginUser!=null}" th:value="${session.loginUser.getUid()}"/>
    <input type="file" hidden="hidden" id="selectJourneyImg1" name="file" onchange="getImg1(this)">
    <input type="file" hidden="hidden" id="selectJourneyImg2" name="file" onchange="getImg2(this)">
    <input type="file" hidden="hidden" id="selectJourneyImg3" name="file" onchange="getImg3(this)">
    <img  class="uploadStrategyMainImg" id="uploadJourMainImg1" style="width:33.3%" th:src="@{/images/back.jpg}">
    <img  class="uploadStrategyMainImg" id="uploadJourMainImg2" style="width:33.3%" th:src="@{/images/back.jpg}">
    <img  class="uploadStrategyMainImg" id="uploadJourMainImg3" style="width:33.3%" th:src="@{/images/back.jpg}">
    <div class="strategyPub_upImg_mainImg" onclick="selectImg1()" style="left: 10%" id="strategyPub_upImg_mainImg1">
        <img src="images/icon/changePic3.png" th:src="@{/images/icon/changePic3.png}" id="jourMainImg1">
        &ensp;<span>上传攻略正图一</span>
    </div>
    <div class="strategyPub_upImg_mainImg" onclick="selectImg2()" id="strategyPub_upImg_mainImg2">
        <img src="images/icon/changePic3.png" th:src="@{/images/icon/changePic3.png}" id="jourMainImg2">
        &ensp;<span>上传攻略正图二</span>
    </div>
    <div class="strategyPub_upImg_mainImg" onclick="selectImg3()" style="left: 75%" id="strategyPub_upImg_mainImg3">
        <img src="images/icon/changePic3.png" th:src="@{/images/icon/changePic3.png}" id="jourMainImg3">
        &ensp;<span>上传攻略正图三</span>
    </div>
    <div class="jourPub_title">
        <input type="text" name="title" id="journeyTitle" lay-verify="title" autocomplete="off" placeholder="请输入攻略标题"
               class="layui-input" style="width: 1020px;">
    </div>
</div>
<!--主要内容区-->
<div class="jourPub_content">
    <div class="jourPub_content_main">
        <input type="hidden" name="id" id="id" th:if="${session.loginUser!=null}" th:value="${session.loginUser.getUid()}"/>
        <ul class="jour_ul" style="width: 100%;">
            <li class="jour_li" style="width: 650px;float: left;">
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block" style=" margin-left: 0px;">
                        <textarea name="content" placeholder="请输入攻略内容" class="layui-textarea" id="journeyPub_content"></textarea>
                    </div>
                </div>
            </li>
            <li class="jour_li jourPub_right" style="width: 330px;float: right;">
                <h2 style="color: #666;margin: 25px 0;">请输入对该攻略的简要概括</h2>
                <textarea name="" required lay-verify="required" placeholder="例如：夏天吃什么最爽？当然是吃冰啦！刨冰就是夏季风物诗，你一勺我一勺，干掉一大碗..." class="layui-textarea strategy_info" style="height: 150px;"></textarea>
                <div style="text-align: right;">
                    <button class="layui-btn layui-btn-warm layui-btn-radius layui-btn-lg" id="publishJour"
                            style="margin-right: 60px;margin-top: 30px;letter-spacing: 3px;">&emsp;&ensp;发布该攻略&ensp;&emsp;</button>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--页脚区域-->
<div th:replace="user/common/footer::foot"></div>
</body>
</html>