<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/iconImg.jpg" rel="shortcut icon">
    <link rel="stylesheet" href="public/css/layui2.css">
    <link rel="stylesheet" href="css/tourAlbumDetail.css">
    <link rel="stylesheet" href="css/background.css">

    <script src="public/js/jquery-3.2.1.min.js"></script>
    <script src="public/layui.js"></script>
    <script src="js/tourAlbumDetail.js"></script>

    <title>跟我去旅行，北海道以东...@任我行，旅游攻略</title>
</head>

<body>
    <div class="album_detail_head">
        <!--中间大图-->
        <div class="pic_img">
            <img src="images/destiny/pic01.jpeg">
        </div>
        <!--顶部导航栏-->
		<div class=" nav">
            <ul class="layui-nav" lay-filter="" id="des_nav">
                <img class="head-logo" src="images/logo.png" alt="">
                <li class="layui-nav-item"><a href="background.html" target="_blank">首页</a></li>
                <li class="layui-nav-item"><a href="destiny.html" target="_blank">目的地</a></li>
                <li class="layui-nav-item"><a href="#/advice">旅游攻略</a></li>
                <li class="layui-nav-item"><a href="javascript:;">去旅行</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a href="#/freedom">自由行</a>
                        </dd>
                        <dd>
                            <a href="#/follow">跟团游</a>
                        </dd>
                        <dd>
                            <a href="#/local">当地游</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#/ticket">机票</a></li>
                <li class="layui-nav-item"><a href="#/order">订酒店</a></li>
                <li class="layui-nav-item layui-this"><a href="javascript:;">社区</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a href="#/answer">问答</a>
                        </dd>
                        <dd>
                            <a href="#/around">周边</a>
                        </dd>
                        <dd>
                            <a href="#/company">结伴</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">修改信息</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">安全管理</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">退了</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--大图底部的关于旅行相册和作者的基本信息-->
        <div class="totalTitle">
            <div class="title">
                <ul class="jour_ul title_ul">
                    <li class="jour_li">
                        <!--作者头像-->
                        <img src="images/u=44153646,977624522&fm=26&gp=0.jpg" class="tourAlbumAuthor">
                    </li>
                    <li class="jour_li title_info_right">
                        <p class="album_title">跟我去旅行，北海道以东又是另一番美景</p>
                        <p class="album_title_info">
                            <span class="title_author"><a href="#">站远处看从前</a></span>
                            <button type="button" class="layui-btn layui-btn-xs layui-btn-radius layui-btn-warm">
                                <i class="layui-icon">&#xe608;</i>关注
                            </button>&emsp;&emsp;
                            <!--该相册的发布时间-->
                            <span class="publish_time">2019.06.21&ensp;16:24</span>&emsp;
                            <!--该篇相册被浏览次数-->
                            <img src="images/icon/eyes.png" class="readTimes">
                            <sapn>115</sapn>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="album_detail_content">
        <div class="album_text_intro">
            &emsp;&emsp;算起来这我的第四次日本之旅了，之前走过了东京都、大阪府、京都府等所谓的经典日本旅游路线，也走过名古屋、伊豆、箱根、静冈、镰仓等文艺之旅，看惯了人声鼎沸、喧嚣拥堵的旅程后，自然也有一丝倦怠。因此当我第一次来到九州岛这个地界的时候，真诚感受到的是一份纯真善良和宁静古朴，这才是日本应该有的样子，我毅然决然的开启了九州的第二次旅程。<br>
            &emsp;&emsp;如果让我对九州进行评价的话，我想用最简单直白的表述：九州是个好地方！吃的好、玩得好、体验好、服务好。如果你希望看到传统的日式民居、体验传承的日本各种祭祀和花火大会、品尝各种日式美味、行走于旧时街道与江户时期来一次穿越邂逅、乘坐特色火车亲近自然，那么，九州必定让你不虚此行！
        </div>
        
    </div>
    <!--页脚区域-->
    <div class="foot">
        <footer>
            <div class="footavatar">
                <img src="images/iconImg.jpg" class="footphoto">
                <ul class="footinfo">
                    <p class="fname"><a href="/dancesmile">联系我们</a> </p>
                    <p class="finfo">@任我行</p>
                    <p>用心出行</p>
                </ul>
            </div>
            <section class="visitor">
                <ul>
                    <li><a href="#"><img src="images/slide_01.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_02.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_03.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_04.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_03.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_02.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_01.jpg"></a></li>
                    <li><a href="#"><img src="images/slide_04.jpg"></a></li>
                </ul>
            </section>
            <div class="Copyright">
                <ul style="margin-bottom: 10px;margin-top: -5px;">
                    <a href="#">© 2019 Renwoxing.cn</a><a href="#">加入任我行</a><a href="#">网站条款</a><a href="#">帮助中心</a>
                </ul>
                <p>Design by yuanzhi</p><br>
            </div>
        </footer>
    </div>
</body>

</html>