* {
    padding: 0;
    margin: 0;
}
.own_head{
    width: 100%;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 0px;
    background: rgba(131, 130, 130, 0.4);
}

.own-head-left {
    float: left;
}

.own-head-right {
    float: right;
}

.own_backPic img {
    position: relative;
    width: 100%;
    height: 520px;
    object-fit: cover;
}

.own_introduce_box {
    position: absolute;
    left: 15%;
    top: 115px;
    transform: translate(-15%, -15%);
}

.own_introduce_box p {
    font-weight: 700;
    font-size: 30px;
    font-family: "幼圆";
    color: rgb(83, 106, 223);
}

.doYouKnow {
    width: 650px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-family: '宋体';
    margin-top: 90px;
    margin-left: 150px;
    animation: leftRight 3s forwards;
}
@keyframes leftRight {
    40% {
      transform: translate(0px, 0) scale(1);
      opacity: 1;
      color: rgb(192, 95, 163);
    }
    60% {
      color: #fff;
    }
    80% {
      transform: translate(0) scale(1.7);
      opacity: 0;
    }
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }

.own_change_backPic {
    position: absolute;
    right: 10%;
    top: 420px;
    text-align: center;
    padding: 15px;
    background: rgba(131, 130, 130, 0.6);
}

.own_change_backPic:hover {
    cursor: pointer;
}

.own_change_backPic img {
    width: 25px;
    height: 22px;
}

.own_change_backPic span {
    font-size: 20px;
    color: white;
    font-family: "幼圆";
}
.own_content{
    position: relative;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(45deg,rgba(254,172,94,0.5),rgba(199,121,208,0.5),rgba(75,192,200,0.5));
}
.own_ul{
    width: 1020px;
    /*display: block;*/
    /*margin: 0 auto;*/
    position: relative;
}
.own_li{
    width: 240px;
    text-align: center;
}
.self_img{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover
}
.self_img:hover{
    cursor: pointer;
}
.camera{
    position: absolute;
    top: 55px;
    left: 145px;
    font-size: 30px;
    display: none;
    color: rgb(70, 64, 64);
}
.camera:hover{
    cursor: pointer;
}
.own_self{
    width: 40px;
    height: 40px;
}
.own_info{
    width: 100%;
    margin-top: 10px;
}
.own_info p:first-child{
    font-size: 24px;
    font-family: "幼圆";
}
.own_areaAndAge{
    font-size: 18px;
    font-family: "幼圆";
    line-height: 45px;
}
.userMale{
    color: #0f88eb;
}
.userFemale{
    color: #b92c28;
}
.own_setting{
    opacity: 0.8;
}
.own_setting:hover{
    cursor: pointer;
    color: chocolate
}
.own_show_self{
    width: 240px;
    border-radius: 5px;
    border: 1px coral solid;
    color: black
}
.own_show_self:hover{
    border: 0px;
}
.own_self_edit{
    margin-top: -35px;
    border-radius: 5px 5px 0 0;
    display: none;
    border: 1px coral solid;
}
.own_self_edit_save{
    width: 241px;
    border-radius: 0 0 5px 5px;
    color: black;
    display: none;
    border: 1px coral solid;
}
.own_self_edit_save:hover{
    border: 0px;
}
.own_tab{
    width: 240px;
}
.own_tab li{
    width: 89px;
}
.own_tab_content{
    max-height: 370px;
    min-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
}
.own_tab_content::-webkit-scrollbar{
    display: none;
}
.own_attention{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -37px;
}
.own_attention:hover{
    cursor: pointer;
}
.own_attention_people p:first-child{
    font-size: 17px;
    font-family: "幼圆";
}
.own_haveAttended,.own_send_message{
    height: 30px;
    width: 71px;
    border-radius: 5px;
    border: 0px;
    font-size: 12px;
    margin-top: 17px;
}
.own_haveAttended{
    background: rgb(172, 166, 166);
    color: white;
}
.own_haveAttended:hover{
    background: white;
    border: 1px coral solid;
    color: coral;
    cursor: pointer;
}
.own_notAttend{
    height: 30px;
    width: 71px;
    border-radius: 5px;
    border: 0px;
    font-size: 12px;
    margin-top: 17px;
    background: rgb(172, 166, 166);
    color: white;
}
.own_notAttend:hover{
    background: white;
    border: 1px coral solid;
    color: coral;
    cursor: pointer;
}
.own_send_message{
    background: white;
    border: 1px coral solid;
    color: coral;
}
.own_send_message:hover{
    cursor: pointer;
    background: coral;
    color: white;
}
.attend_info{
    font-size: 16px;
    font-family: "幼圆";
    line-height: 25px;
    margin-top: 5px;
}
.own_main_tab{
    float: right;
    width: 700px
}
.own_main_tab .own_main_ul li{
    width: 20%;
    padding: 0px;
    font-size: 18px;
    font-family: "幼圆";
    color: black
}
.own_main_tab .own_main_ul li:hover{
    color: chocolate;
}
.own_main_tab .own_main_ul .layui-this{
    color: chocolate;
}
.own_operate{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 700px;
}
.own_operate li{
    width: 24%;
}
.own_operate li:hover{
    color: coral
}
.own_operate img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    object-fit: cover;
}
.own_operate img:hover{
    cursor: pointer;
}
.own_operate a{
    color: #0C0C0C;
}
.own_operate a:hover{
    cursor: pointer;
    color: coral
}
.own_tour_journey{
    width: 240px;
    height: 160px;
}
.own_remain_message{
    border-radius: 5px 5px 0 0;
    border: 1px coral solid;
}
.own_remain_message_save{
    width: 241px;
    border-radius: 0 0 5px 5px;
    color: black;
    border: 1px coral solid;
}
.own_remain_message_save:hover{
    border: 0px;
}
.own_remain_messageList{
    margin-top: 16px;
    overflow: hidden;
    padding: 0 5px;
    float: left;
    width: 250px;
}
.remainder img{
    width: 48px;
    height: 48px;
    border-radius: 3px;
}
.remainder img:hover{
    cursor: pointer;
}
.deleteSingleRemain{
    color: dimgray;
}
.deleteSingleRemain:hover{
    color: coral;
    cursor: pointer;
}
.own_content_right_tab{
    /*height: 680px;*/
    /*overflow-y: auto;*/
    margin-top: 10px;
}
.own_content_right_tab::-webkit-scrollbar{
    display: none;
}
.jour_img:hover{
    cursor: pointer;
}
.common_block_personal_info{
    border: 0;
    background-color: #f5dc522e;
    /*background-color: #439fe930;*/
    box-shadow: 2px 3px 0 #dfca584f;
    /*box-shadow: 2px 3px 0 #dfca58;*/
    padding: 28px 30px 30px;
    margin-bottom: 30px;
}
.personal_tips{
    font-size: 14px;
    color: #333;
    line-height: 30px;
    text-align: left;
}
.personal_tips p strong{
    font-size: 18px;
    color: #ff7200;
    font-weight: normal;
}
.personal_list{
    margin-top: 22px;
    overflow: hidden;
    *zoom: 1;
}
.personal_list li{
    width: 168px;
    margin-right: 10px;
    padding: 0 16px 30px;
    background-color: #fff;
    float: left;
    text-align: center;
}
.personal_icon{
    height: 105px;
    line-height: 105px;
    text-align: center;
}
.personal_icon i{
    line-height: 0;
    display: inline-block;
    background-position: -1px -256px;
    vertical-align: middle;
}
.personal_icon i img{
    width: 59px;
    height: 71px;
}
.personal_word {
    margin-top: 2px;
    font-size: 14px;
    line-height: 24px;
    height: 72px;
}
.personal_btn {
    margin-top: 15px;
}
.my_notes {
    padding-bottom: 30px;
}
.common_block {
    margin-bottom: 18px;
    background-color: #fff;
    border: #e2e2e2 1px solid;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
}
.clearfix {
    *zoom: 1;
}
.common_title {
    padding: 25px 30px;
    line-height: 30px;
    position: relative;
}
.common_block h2 {
    position: relative;
    display: inline;
    font-size: 20px;
    color: #444;
    font-weight: normal;
}
.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
}
.notes_default_v2 {
    padding-bottom: 30px;
    position: relative;
}
.notes_default_v2 .notes_dcon {
    width: 100%;
    height: 320px;
}
.notes_default_v2 .notes_dcon img{
    width: 680px;
    height: 320px;
}
.notes_default_v2 .btn_write {
    display: block;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    background-color: #ff9e00;
    position: absolute;
    right: 30px;
    top: -61px;
    font-size: 16px;
    color: #fff;
}
.more_notes {
    text-align: center;
    position: relative;
    height: 38px;
}
.more_notes .btn_deleted {
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 14px;
}
.btn_deleted:hover{
    color: coral;
}
.more_notes .btn_deleted i {
    font-size: 25px;
    float: left;
    margin-top: -4px;
}
.own_strategy_img{
    width: 100%;
}
.strategy_info{
    /*border-top: 1px solid silver;*/
    margin-top: 20px;
    padding: 0 20px;
    background-color: #dcdcdc;
}
.strategy_info:hover{
    background-color: silver;
    cursor: pointer;
}
.strategy_partInfo{
    width: 780px;
    line-height: 25px;
}
.strategy_partmain_title{
    font-size: 20px;
    line-height: 60px;
}
.strategy_info img{
    width: 200px;
    height: 130px;
    margin: 20px 5px;
}
.strategy_description{
    margin-top: -10px;
    margin-bottom: 15px;
}
.own_history{
    width: 100%;
}
.postnormal.review {
    margin-top: 30px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 3px rgba(249, 249, 249, 0.08), 0 0 0 1px rgba(26, 53, 71, .04), 0 1px 1px rgba(26, 53, 71, .06)
}

.postnormal.review .review-item {
    position: relative;
    overflow: visible;
    margin-top: 1.5em;
    border-radius: 6px 6px 0 0;
    min-height: 150px
}

.postnormal.review .post-container {
    margin-top: 0;
    z-index: 2
}

.postnormal .post-container {
    background: white;
    margin-top: 10px;
    padding: 1.3rem 1.3rem 1.3rem;
    border-radius: 6px;
    overflow: hidden;
}

.postnormal.review .review-item .review-item-wrapper {
    position: relative;
    z-index: 1;
    color: white
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.wendaImg {
    position: absolute;
    width: 230px;
    height: 190px;
    top: -50px;
    right: 25px;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: top center
}

.review-item-title {
    max-width: 378px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1)
}

.review-item-creator {
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em 0;
}

.review-item-info {
    display: block;
    font-size: 1em;
    opacity: .8
}

.review-bg-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px 6px 0 0;
    z-index: 0;
}

.bg-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    border-radius: 6px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none
}

.bg-blur:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(105, 105, 105, 0.1) 0%, #fff 85%);
    background: linear-gradient(to bottom, rgba(105, 105, 105, 0.1) 0%, #fff 85%)
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    z-index: -99;
}

.bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(105, 105, 105, 0.1) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(105, 105, 105, 0.1) 100%)
}

.flex-xs-middle {
    -ms-flex-item-align: center;
    margin-left: 15px;
    align-self: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.col-xs-4{
    width: 33.33333333333333%;
}

.col-xs-4 a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 43%;
    margin-left: 22%;
}

.col-xs-4 img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    transition: opacity .2s;
}

.album-thumb [class*='col-'] {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0
}

.row.content {
    width: 100%;
    position: relative;
    margin: 0 auto
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 0;
}

.contentext {
    width: 58%;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.album-thumb-width {
    width: 33%
}

.album-title {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.album-content {
    width: 90%;
    line-height: 1.75;
    margin-top: -5px;
}

.post-album {
    margin-top: 30px;
    padding: 0 0.5rem 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(249, 249, 249, 0.08), 0 0 0 1px rgba(26, 53, 71, .04), 0 1px 1px rgba(26, 53, 71, .06);
}

[data-aos=fade-up] {
    transform: translateY(1px)
}