<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="set_left_bar" th:fragment="slidebar">
        <a href="#" th:href="@{/setting}">
            <div th:class="${activeUri == 'setting' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/maleMyInfo.png" th:src="@{/images/icon/maleMyInfo.png}">我的信息
            </div>
        </a>
        <a href="#" th:href="@{/setting/ownImg}">
            <div th:class="${activeUri == 'setting/ownImg' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/myImg.png" th:src="@{/images/icon/myImg.png}">我的头像
            </div>
        </a>
        <a href="#" th:href="@{/setting/modifyPwd}">
            <div th:class="${activeUri == 'setting/modifyPwd' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/password.png" th:src="@{/images/icon/password.png}">修改密码
            </div>
        </a>
        <!--<a href="#" th:href="@{/setting/blackBan}">
            <div th:class="${activeUri == 'setting/blackBan' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/ban.png" th:src="@{/images/icon/ban.png}">黑名单管理
            </div>
        </a>-->
        <a href="#" th:href="@{/setting/ownAttended}">
            <div th:class="${activeUri == 'setting/ownAttended' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/attented.png" th:src="@{/images/icon/attented.png}">关注
            </div>
        </a>
        <a href="#" th:href="@{/setting/ownFan}">
            <div th:class="${activeUri == 'setting/ownFan' ? 'set_left_bar_item active':'set_left_bar_item'}">
                <img src="images/icon/fans.png" th:src="@{/images/icon/fans.png}">粉丝
            </div>
        </a>
    </div>
</body>
</html>