<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="layui-nav" lay-filter="" id="des_nav" th:fragment="header">
        <img class="head-logo" src="images/icon/logoIcon.png" th:src="@{images/icon/logoIcon.png}" alt="">
        <li class="layui-nav-item"><a href="index.html" th:href="@{/}">首页</a></li>
        <!--layui-this 表示当前停留地方-->
        <li class="layui-nav-item layui-this"><a href="destiny.html">目的地</a></li>
        <li class="layui-nav-item"><a href="#/advice" th:href="@{/strategy}">旅游攻略</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">去旅行</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a href="#/freedom">自由行</a></dd>
                <dd><a href="#/follow">跟团游</a></dd>
                <dd><a href="#/local">当地游</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="#/ticket" th:href="@{/flight}">机票</a></li>
        <li class="layui-nav-item"><a href="#/order" th:href="@{/hotel}">订酒店</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">社区</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a href="#/answer">问答</a></dd>
                <dd><a href="#/around">周边</a></dd>
                <dd><a href="#/company">结伴</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:if="${session.loginUser==null}">
            <ul class="album_ul">
                <li class="album_li">
                    <a href="userLogin.html" th:href="@{/account}" style="font-size:18px;">登录</a>
                </li>
                <li class="album_li">
                    <a href="#" th:href="@{/register}" style="font-size:18px;">注册</a>
                </li>
            </ul>
        </li>
        <li class="layui-nav-item" th:if="${session.loginUser!=null}">
            <a href="" th:href="@{/self}"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" th:href="@{/self}">[[${session.loginUser.getUsername()}]]</a></dd>
                <dd><a href="javascript:;" th:href="@{/setting}">修改信息</a></dd>
                <dd><a href="javascript:;">切换账号</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;" th:href="@{/signout}" class="signout">退了</a></dd>
            </dl>
        </li>
    </ul>

    <ul class="layui-nav" lay-filter="headerLikeIndex" id="headerLikeIndex">
        <img class="head-logo" src="images/icon/logoIcon.png" th:src="@{/images/icon/logoIcon.png}" alt="">
        <i class="fa fa-panelings fa-3x"></i>
        <li class="layui-nav-item layui-this"><a href="#/home" th:href="@{/}">首页</a></li>
        <!--layui-this 表示当前停留地方-->
        <li class="layui-nav-item"><a href="destiny.html" >目的地</a></li>
        <li class="layui-nav-item"><a href="#/advice" th:href="@{/strategy}">旅游攻略</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">去旅行</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a href="#/freedom">自由行</a></dd>
                <dd><a href="#/follow">跟团游</a></dd>
                <dd><a href="#/local">当地游</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="#/ticket" th:href="@{/flight}">机票</a></li>
        <li class="layui-nav-item"><a href="#/order" th:href="@{/hotel}">订酒店</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">社区</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd><a href="#/answer">问答</a></dd>
                <dd><a href="#/around">周边</a></dd>
                <dd><a href="#/company">结伴</a></dd>
            </dl>
        </li>
        <!--搜索框-->
        <li class="layui-nav-item search">
            <div class="d1">
                <form>
                    <input type="text" placeholder="诗与远方,从这里开始...">
                    <button type="submit"></button>
                </form>
            </div>
        </li>
        <!--登录状态显示区-->
        <!-- <li class="layui-nav-item login">
            <a href="#" style="font-size:18px;">登录</a>
        </li> -->
        <li class="layui-nav-item" th:if="${session.loginUser==null}">
            <ul class="album_ul">
                <li class="album_li">
                    <a href="userLogin.html" th:href="@{/account}" style="font-size:18px;">登录</a>
                </li>
                <li class="album_li">
                    <a href="#" th:href="@{/register}" style="font-size:18px;">注册</a>
                </li>
            </ul>
        </li>
        <li class="layui-nav-item" th:if="${session.loginUser!=null}">
            <a href="" th:href="@{/self}"><img src="images/321926.jpg" th:src="@{/images/322188.jpg}" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" th:href="@{/self}">[[${session.loginUser.getUsername()}]]</a></dd>
                <dd><a href="javascript:;" th:href="@{/setting}">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">切换账号</a></dd>
                <dd><a href="javascript:;" th:href="@{/signout}" class="signout">退了</a></dd>
            </dl>
        </li>
    </ul>
</body>
</html>